name: Create PDF File

on:
  workflow_dispatch:
  push:
    branches:
      - baseline
    paths:
      - flake.*
      - resume.md
      - resume-stylesheet.css

jobs:
  generate:
    runs-on:  ubuntu-22.04
    steps:
    - uses: actions/checkout@v4
    - uses: cachix/install-nix-action@v29
      with:
        github_access_token: ${{ secrets.GITHUB_TOKEN }}
    - name: Build Resumes
      run: |
        mkdir out
        nix build
        cp result/resume/resume.html out/${{ github.actor}}-resume.html
        cp result/resume/resume.pdf out/${{ github.actor}}-resume.pdf
        cp result/resume/resume.md out/${{ github.actor}}-resume.md
    - name: Store Artifacts
      uses: actions/upload-artifact@v4
      with:
        name: BiLLGia-resume
        path: out/

  publish:
    runs-on: ubuntu-22.04
    needs: generate
    steps:
    - uses: actions/checkout@v4
    - name: Retrieve Artifacts
      uses: actions/download-artifact@v4
      with:
        name: BiLLGia-resume
        path: out
    - name: Stage
      run: |
        mkdir public
        cp out/${{ github.actor }}-resume.html public/index.html
    - name: Deploy
      uses: peaceiris/actions-gh-pages@v4
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./public
    - name: Set Tag
      id: current-datetime
      run: echo "CURRENT_DATETIME=$(date +'%Y-%m-%d-%H_%M_%S%z')" >> "$GITHUB_OUTPUT"
    - name: Build Release
      shell: bash
      run: |
        hub release create ${{ steps.current-datetime.outputs.CURRENT_DATETIME }} \
        -m ${{ steps.current-datetime.outputs.CURRENT_DATETIME }} \
        -a out/${{ github.actor }}-resume.html \
        -a out/${{ github.actor }}-resume.md \
        -a out/${{ github.actor }}-resume.pdf
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
